@use "/src/modules/variables.scss" as variables;

$table-background: #373737;
$cell-background: #535353;

.cross-inhibition-table {
  .ant-table {
    background: $table-background;
  }

  .index-tag {
    min-width: 48px;
    font-size: 10px;
    text-align: center;
    color: variables.$black;
    background-color: $cell-background;
    border: none;
  }

  .ant-table-cell {
    padding: 4px 4px;
    font-size: 12px;
  }

  .ant-table-cell.ant-table-cell-fix-left {
    color: variables.$light-green;
    background: $table-background;
  }

  .ant-table-thead > tr > th {
    color: variables.$light-green;
    background: $table-background;
    font-size: 12px;
  }
}
