.ant-upload-list.ant-upload-list-text {
  display: inline-block;

  .ant-upload-list-item.ant-upload-list-item-done.ant-upload-list-item-list-type-text {
    margin-top: 0;
    margin-left: 16px;
  }
}

.upload-container {
  margin-bottom: 16px;

  .ant-upload-list-item:hover .ant-upload-list-item-info {
    background-color: inherit;
  }
}

.upload-header {
  margin-bottom: 8px;
}
